html {box-sizing: border-box;}
*, *::after, *::before{ box-sizing: inherit; border: 0; margin: 0; padding: 0;}
body{ font: Arial, sans-serif;}

.elemento {
    width: 170px;
    height: 40px;
    border: 1px solid black;
}

#uma-div {
    background-color: #0080ff;
    margin: 0 0 30px 0;
}

#outra-div {
    background-color: #008080;
    margin: 40px 0 0 0;
}

p { border: 1px solid black;}
.especial > strong {
    margin-top: 3800px; /* será ignorada */
    margin-bottom: 5400px; /*será ignorada*/
    margin-left: 150px; /* será aplicada */
    margin-right: 280px; /*será aplicada */
}

div.dois {
    position: relative;
    left: 60px;
    top: 15px;
    margin: 20px 0;
}

span {
    position: relative;
    left: 60px;
    top: 40px;
    border: 1px solid black;
}